article { 
    display: flex; 
    flex-direction: column; 
    align-items: center;
    border: 1px solid black;
    width: 50%;
    background-color: aqua;
    height: 450px;
    width: 300px;
}

img {
    width: 100px;
    height: 100px;
}

