header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(90deg, rgba(11,11,11,1) 0%, rgba(0,0,0,1) 41%, rgba(249,249,249,1) 100%);
    gap: 15px;
    height: 5rem;
}

nav {
  display: flex;
  gap: 25px;
}

Button {
  text-decoration: none;
  color: #000;
}

.linkNav {
  text-decoration: none;
  color: white;
}

.imgNav {
  height: 5rem;
}